page-contrasena-upd {

  .toolbar-ios {
    padding: 0;
  }

  #tienda-img {
    background-position: center;
    height: 120px;
    background-image: url('../assets/img/tiendas/defecto-tienda.jpg')
  }

  #tienda-opacity {
    position: relative;
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    padding: 3px 8px 10px 8px;
    color: white;
  }

  ion-input, ion-select {
    border:1px solid #e4e4e4;
    padding-left: 10px;
  }

}
